@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fbfbfb;
}

.top {
  background-color: #000000;
  position: relative;
  font-family: 'Playfair Display';
  font-size: 5rem;
  font-weight: 600;
  color: #fbfbfb;
}

.middle {
  text-align: center;
  font-family: 'Lato';
}

.about-me,
.skills,
.edu {
  font-weight: 300;
}

.mid-text {
  text-justify: left;
}

.footer {
  background-color: #000000;
  font-family: 'Playfair Display';
  color: #fbfbfb;
  text-align: center;
}
